@font-face {
    font-family: source sans pro;
    src: url(./fonts/SourceSansPro-Regular.otf);
}

body, html {
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: source sans pro;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100%;
    background-color: #121314;
    color: #fff;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    transition: 400ms;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.315);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }


.fas{
    font-size: 22px;
    transition: 200ms;
    opacity: 0.6;
    cursor: pointer;
}

.email{
    font-size: 12px;
    font-family: source sans pro;
    color: #8a8a8a;
}

.menu-item span{
    margin-left: 20px;
    font-size: 14px;
    font-family: source sans pro;
}

.fas:hover{
    opacity: 1;
    transition: 200ms;
}

.menu-item.active {
    background-color: rgba(128, 128, 128, 0.589); 
    border-radius: 5px;
    padding-bottom: 4px;
    padding-top: 7px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.sidebar-header h2 {
    margin: 0;
}

.toggle-btn {
    background-color: green;
    border: 1px solid black;
    color: red;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: -20px;
}

.toggle-btn:focus {
    outline: none;
}

.sidebar-menu {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 17.5px;
    overflow-x: hidden;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    min-width: 19px;
    margin-left: -6px;
}

.menu-item i {
    margin-right: 10px;
}

.sidebar-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-family: source sans pro;
}

.user-info {
    display: flex;
    align-items: center;
    background: linear-gradient(181deg, rgb(152 45 163 / 26%) 3.6%, rgb(116 9 176 / 7%) 90.4%);
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    padding: 10px;
    padding-right: 0px;
    overflow-x: hidden;
    transition: 200ms;
}

.user-info:hover{
    filter: brightness(0.9);
    transition: 200ms;
}

.user-info img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 0px;
    margin-right: 8px;
}

.user-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.username {
    font-family: source sans pro;
    font-size: 14px;
    color: rgb(211, 211, 211);
}

.logout-btn {
    background: none;
    border: none;
    color: #fff;
    padding: 0;
    font-size: 20px;
    margin-top: -11px;
    cursor: pointer;
}

.logout-btn:focus {
    outline: none;
}

.logout-container {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    padding: 10px;
}

.logout-container a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
}

.logout-container a:hover {
    text-decoration: underline;
}

.sidebar.active .sidebar-header h2 {
    visibility: hidden;
}

.sidebar.active .sidebar-header h2::after {
    content: 'EV';
    visibility: visible;
    position: absolute;
    left: 20px;
}

.sidebar.active .menu-text {
    opacity: 0;
}

.logo {
    width: 28px;
    margin-left: 6px;
}

#sidebar-title {
    margin-left: 20px;
    transition-delay: 100ms;

    font-family: source sans pro;
    letter-spacing: 9px;
    line-height: 0px;
}

hr{
    width: calc(90% - 5px);
    opacity: 0.6;
}

.menu-item {
    cursor: pointer;
    transition: 200ms;
    
}

.menu-item:hover{
    opacity: 0.75;
    transition: 200ms;
}

.menu-item:active{
    transform: scale(0.955);
    transition: 200ms;
}

.menu-item span{
    user-select: none;
}

.sidebar-bottom img{
    user-select: none;
    transition: 200ms;
    border: 2px solid white;
}

.sidebar-bottom img:hover{
    opacity: 0.6;
    transition: 200ms;
}

.sidebar-bottom{
    cursor: pointer;
}

.logout-btn svg{
    margin-top: 17px;
    margin-right: 8px;
}

.login-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    min-width: 19px;
    margin-left: 16px;
    transition: 200ms;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.login-item span{
    margin-left: 27px;
    font-size: 14px;
    font-family: source sans pro;
    user-select: none;
}

.login-item:hover{
    opacity: 0.75;
    transition: 200ms;
}

.login-item:active{
    transition: 200ms;
    transform: scale(0.955);
}

#sidebar-toggle{
    position: absolute;
    right: -11px;
    border-radius: 100%;
    background-color: #121314;
    border: none;
    width: 27px;
    height: 27px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    transition: 200ms;
    cursor: pointer;
    font-weight: bold;
    top: 25px;
}

#sidebar-toggle:hover{
    filter: brightness(0.85);
    transition: 200ms;
}

#sidebar-toggle:active{
    filter: brightness(0.7);
    transition: 200ms;
    transform: scale(0.95);
}

#sidebar-toggle.mirrored {
    transform: scale(-1);
    top: 25px;
    right: -14px;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed #sidebar-title {
    opacity: 0;
    transition-delay: 0;
    pointer-events: none; /* To make sure it's not clickable when hidden */
}

#userDetails {
    cursor: pointer;
}

#event-page {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 20px;
  }
  
  .event-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  .event-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }
  
  .event-title {
    font-size: 1.5em;
    margin-bottom: 8px;
  }
  
  .event-description {
    margin-bottom: 8px;
  }
  
  .event-date {
    font-style: italic;
    margin-bottom: 8px;
  }
  
  .event-author {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .like-button, .comment-button, .edit-event, .delete-event {
    margin-right: 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .comment-form {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  
  .comment-input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 8px;
  }
  
  .comments-container {
    margin-top: 16px;
  }
  
  .comment {
    border-top: 1px solid #ccc;
    padding-top: 8px;
    position: relative;
    margin-top: 8px;
    width: 200px;
    
  }
  
  #eventForm {
    display: none;
    position: fixed;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: darkgray;
    width: 300px;
    margin-top: 20px;
  }
  
  #eventForm input, #eventForm textarea {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  #eventForm button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #events-content{
    display: flex;
  }

  .notification{
    background-color: green;
    border: 2px solid red;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
  }

  #notificationBadge{
    position: absolute;
    color: white;
    top: -5px;
    font-weight: 100;
    margin-left: 14px;
    font-style: normal;
    font-size: 12px;
    font-family: source sans pro;
  }

  #notifications{
    position: relative;
  }

  #notificationsContainer{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
  }

  #createEventButton{
        position: absolute;
    top: 0;
    right: 50%;
  }

  .comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}


.author-info{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.author-name{
    font-weight: bold;
    font-size: 15px;

}

.comment-text{
    font-weight: 100;
    text-overflow: ellipsis;
    font-size: 14px;
    color: gray;
}

.author-image{
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

.dropdown-menu{
    position: absolute;
    margin-top: 40px;
    margin-left: 30px;
    background-color: green;
    border: 1px solid black;
    width: 60px;
    height: 60px;
}

.dropdown-menu button{
    width: 100%;
    text-align: center;
    height: 16px;
    font-size: 12px;
}

.report-form{
position: absolute;
top: 20px;
right: 70%;
}

.comment button{
    position: absolute;
    right: 5px;
}

#eventsContainer{
}

/* CSS */

/* Default styles */
#sidebar {
    width: 230px; /* Adjust as needed */
    transition: width 0.3s ease; /* Add transition for smooth animation */
  }
  
  #content {
    margin-left: 260px; /* Adjust margin for expanded state */

    transition: margin-left 0.3s ease; /* Add transition for smooth animation */
  }
  
  /* Styles for collapsed sidebar */
  #sidebar.collapsed {
    width: 60px; /* Adjust width for collapsed state */
  }
  
  #content.expanded {
    margin-left: 90px; /* Adjust margin for expanded state */
  }
  