.event-details {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.event-details img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.event-details h2 {
    margin-top: 20px;
    font-size: 24px;
}

.event-details p {
    margin: 10px 0;
}

.comments-section {
    margin-top: 20px;
}

.comment {
    background: #f1f1f1;
    padding: 10px;
    position: relative;
    display: flex;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.comment-author {
    font-weight: bold;
}

.comment-text {
    font-size: 15px;
    color: rgb(67, 67, 67);
    font-weight: 200;
}


.comment button{

    position: absolute;
  right: 0;
  top: 0;
}

.author-info{
    display: flex;
  flex-direction: column;
  margin-left: 20px;

}

.author-name{
    font-weight: 600;
    font-size: 16px;

}

.report-comment{
    margin-top: 48px;
}

.delete-comment{
    margin-top: 24px;
}

.delete-comment, .edit-comment, .report-comment{
    width: 100%;
}
